/* fuentes de la página web y css encabezados*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Bakso Sapi';
    src: url(fonts/BaksoSapi.otf)
    format('opentype');
}
h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

h1 {
    font-family: 'Bakso Sapi';
    text-align: center;
    font-size: 3.5rem;
    color: beige;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.title-recipe h2 {
    font-weight:bold;
    text-decoration: underline;
    font-size:2em ;
}

 aside .title h2 {
    font-size: 1.2em;
    color: beige;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
 }

body {
    font-family: 'Lato', sans-serif;
    background: #fafafa url(img/bg01.png) repeat;
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 1em;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    line-height: 25px;
}

.page {
    display: flex;
    flex-flow: column nowrap;
}


/* Encabezado logo y menú */
header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    background-color:#C92727;
    margin: 15px 0 15px 0;
    

}
    .logo {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
        .IconHeader {
            width:100px;
        }
    
    .menu {
        width:100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(0 0 0 / 10%);

    }
        header nav a {
            text-decoration: none;
            margin: 10px;
            padding: 10px;
            font-size: 1.2em;
            color:#f3f3d0;
            
        }
        header nav a:hover {
            background-color: rgb(0 0 0 / 10%);
            font-weight: bold;
            border-radius: 20px;
        }

/* posicionamiento de lo que contiene el section: article, aside y footer*/
section {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;

}

    article { 
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex: 4 1 auto;
        width: 20%;
        background-color: #fafafa;
        border: 0.05px solid #a9a9a9;
        padding:20px 40px;
        margin: 10px 0px 10px 10px;
        border-radius: 20px;
    }

    aside {
        padding: 20px;
        background-color: #C92727;
        margin: 10px;
        border-radius: 20px;
        flex: 1 1 auto;
        width: 20%;
        height: 400px;
    }
        .style-bar {
            display: flex;
            flex-flow: column nowrap;
            text-decoration: none;

        }
        .style-bar a {
            text-decoration: none;
            color:#f3f3d0;
        }
        .style-bar a:hover{
            background-color: rgb(0 0 0 / 10%);
            font-weight: bold;
            padding: 10px;
        }

footer {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #160404;
    color: beige;
    letter-spacing: 1.5px;
}
    button{
        background: #C92727;
        color: #fff;
        border-radius: 8px;
        padding: 5px 10px;
        width: 60px;
        height: 30px;
        margin: 10px 20px;
    }
    button:hover{
        font-weight: 600;
        background-color: #aa1f1f;
    }

/*contenedore de fotos, video y mapa */

.photo_recipe {
    width: 40vw;
    border-radius: 1.5em;
}

.photo_recipe:hover {
    opacity: .9;
}

iframe.video {
    width: 40vw;
    height: 40vw;
}

.map {
    width: 40vw;
    height: 40vh;
}

/*breakpoint celular*/
@media (max-width:575px){
 
    section{
        flex-flow: column-reverse nowrap;
    }

    article{
        width:auto;
        margin: 10px;
    }

    aside {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        line-height: 60px;
    }
}

/*Breakpoint tablet*/
@media (max-width:768px){

    section{
        flex-flow: column-reverse nowrap;
    }

    article{
        width:auto;
        margin: 10px;
    }

    aside {
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-around;
    }
}

/*Breakpoint para desaparecer h5 en dispositivos de escritorio*/
@media (min-width:992px){
    .coment{
        display:none;
    }
}